<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
    <link rel="stylesheet" href="/css/index.css">
    
</head>
<body>
    <div class="container">
        <header>
            <div id="left-word">
                <h1>T.QUIZZ</h1>
            </div>
            <div id="middle-word">
                <h1><a href="">Trivia</a></h1>
                <h1><a href="">Quiz</a></h1>
                <h1><a href="">Leaderboard</a></h1>
            </div>
            <div id="right-word">
                <h1 id="login"><a href="\users\login">LOGIN</a></h1>
                <h1 id="registration"><a href="\users\signup">REGISTRATION</a></h1>
            </div>
        </header>
        <div class="main-site">
            <div class="font-wrap">
                <div id="text-1">
                    <h1>DAILY QUIZ, DAILY BONUS</h1>
                    <h1>PLAY TODAY!</h1>
                </div>
                <div id="text-2">
                    <h1>T.Quizz is the daily Trivia and quiz playing platform. It brings</h1>
                    <h1>some exciting surprises every day.</h1>
                </div>
                <div id="icon">
                    <a href="\users\signup">
                        <span class="icon-text"><i class="fa fa-play-circle-o" aria-hidden="true"></i>PLAY TODAY</span>
                    </a>
                </div>
            </div>
            <div class="img-icon">
                <img src="/images/Vector.png" alt="icon">
            </div>
        </div>
        <footer>
            <div class="bottom">
                <div id="daily-trivia">
                    <a href="\users\signup">
                        <div class="trivia-content">
                            <div id="ic">
                                <img src="/images/gift box.png" alt="">
                            </div>
                            <div id="text">
                                <h3>Daily Trivia</h3>
                            </div>
                        </div>
                        <span class="play-now">Play Now<img src="/images/arrow.png" alt=""></span>
                    </a>
                </div>
                <div id="daily-win">
                    <a href="\users\signup">
                        <div class="trivia-content">
                            <div id="ic-2">
                                <img src="/images/Badge.png" alt="">
                            </div>
                            <div id="text">
                                <h3>Daily Play & Win</h3>
                            </div>
                        </div>
                        <span class="play-now">Play Now<img src="/images/arrow.png" alt=""></span>
                    </a>
                </div>
                <div id="daily-king">
                    <a href="\users\signup">
                        <div class="trivia-content">
                            <div id="ic-3">
                                <img src="/images/trophy.png" alt="">
                            </div>
                            <div id="text">
                                <h3>Play Like King</h3>
                            </div>
                        </div>
                        <span class="play-now">Play Now<img src="/images/arrow.png" alt=""></span>
                    </a>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>