<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Score</title>
    <link rel="stylesheet" href="/css/mark35.css">
</head>
<body>
    <header>
        <div class="column-layout">
            <div class="mark">
                <img src="/images/Frame35.png" alt="mark">
            </div>
            <div class="icon">
                <img src="/images/face.png" alt="trophy">
                <h2>Better luck next</h2>
                <h2>time buddy</h2>
            </div>
        </div>
    </header>
    <footer>
        <div class="container2">
            <div class="try-again">
                <a href="\game">Try Again</a>
            </div>
            <div class="log-out">
                <a href="\users\login">Log Out</a>
            </div>
        </div>
    </footer>
</body>
</html>