<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/quizWelcome.css">
</head>
<body>
    <div class="container3">
        <div class="message-head">
            <h1 id="test" style="font-family:'Road Rage', sans-serif; font-size: 80px;">Test Your Knowledge and Have Fun!</h1>
        </div>
        <div class="content">
            <div id="text">
                <h2>Get ready to challenge your brain with our exciting trivia quiz. Whether you're a trivia enthusiast or just looking for a fun way to pass the time, our questions will put your knowledge to the test.</h2>
                <br>
                <h2>How it works:</h2>
                <h2>
                    1. Keep Up with the Difficulty Tag: As the timer changes with the Random question, Try to answer as many questions correctly as possible.
                    Track your progress: See how you stack up against other players on our Leaderboard.
                </h2>
                <br>
                <h2>2. Are you ready to take the quiz? Let's get started!</h2>
            </div>
            <div id="landing-img">
                <img src="/images/landing.png" alt="tag" class="resize-img">
            </div>
        </div>
        <div class="start-btn">
            <a href="/game" class="btn"><h1 id="text2">Start Quiz</h1></a>
        </div>
    </div>
</body>
</html>
